<footer class="footer bg-dark text-light rounded-top">
    <div class="d-flex justify-content-around border-bottom">
        <div class="vendor">
            <img class="img-fluid" src="{{ 'assets/images/logo.svg'|theme }}" alt="October CMS Demo" width="270" />
        </div>
        <div class="backlinks">
            <a href="/about-us" class="d-block">Tentang Kami</a>
            <a href="/terms" class="d-block">Syarat dan Ketentuan</a>
            <a href="/kebijakan" class="d-block">Kebijakan Privasi</a>
        </div>
        <div class="footerlogo">
            <img class="img-fluid" src="{{ 'assets/images/sinarmas-logo-footer.png'|theme }}" alt="Sinarmas Logo" />
        </div>
    </div>
    <div class="py-2 d-flex justify-content-center">
        @ Copyright {{ "now"|date("Y") }}. All rights reserved.
    </div>
</footer>