<nav class="navbar navbar-expand-md navbar-dark fixed-top rounded-pill">
    <div class="flex-container px-3">
        <div class="flex-item">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="{{ 'storage/app/media/img/sinarmas-logo.png' }}" alt="Sinarmas Land" /></a>
        </div>
        <div class="flex-item">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="{{ 'storage/app/media/img/wuling-logo.png' }}" alt="Wuling" />
            </a>
        </div>
        <div class="flex-item">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="{{ 'storage/app/media/img/wa-test-drive.png' }}" alt="Wuling" />
            </a>
        </div>
    </div>
</nav>