<section class="keuntungan">
    <div class="container bg-light py-4">
        <div class="container text-center ">
            <h1 class="fs-1 text-center gradient-text pb-4">Keuntungan Khusus dari Kami</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="icon-wrapper mb-3">
                                <!-- <i class="bi bi-tag-fill"></i> -->
                                <img src="{{ 'storage/app/media/elements/special-diskon.svg' }}" alt="award" />
                            </div>
                            <h5 class="card-title">Diskon Eksklusif</h5>
                            <p class="card-text">Hanya untuk Sinar Mas Family</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="icon-wrapper mb-3">
                                <!-- <i class="bi bi-award-fill"></i> -->
                                <img src="{{ 'storage/app/media/elements/special-rates.svg' }}" alt="award" />
                            </div>
                            <h5 class="card-title">Cicilan Rendah</h5>
                            <p class="card-text">Mulai dari Rp 2 juta an</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="icon-wrapper mb-3">
                                <!-- <i class="bi bi-car-front-fill"></i> -->
                                <img src="{{ 'storage/app/media/elements/insurance-dar.svg' }}" alt="award" />
                            </div>
                            <h5 class="card-title">Gratis Asuransi*</h5>
                            <p class="card-text">Hingga Rp 5 juta</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="icon-wrapper mb-3">
                                <!-- <i class="bi bi-hand-thumbs-up-fill"></i> -->
                                <img src="{{ 'storage/app/media/elements/DP0.svg' }}" alt="award" />
                            </div>
                            <h5 class="card-title">DP 0%</h5>
                            <p class="card-text">Tinggal bayar cicilan saja</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="icon-wrapper mb-3">
                                <!-- <i class="bi bi-cash-coin"></i> -->
                                <img src="{{ 'storage/app/media/elements/cicilan.svg' }}" alt="award" />
                            </div>
                            <h5 class="card-title">Instant Approval</h5>
                            <p class="card-text">Proses cepat dan mudah</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="icon-wrapper mb-3">
                                <!-- <i class="bi bi-cash-coin"></i> -->
                                <img src="{{ 'storage/app/media/elements/trade-in.svg' }}" alt="award" />
                            </div>
                            <h5 class="card-title">Trade In</h5>
                            <p class="card-text">Mudan dan Terpercaya</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>