<div class="row text-center p-5">
    <div class="col-md-6">
        <img src="{{ 'storage/app/media/img/rafiki.png' }}" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
        <h1 class="fs-2 pb-3">Proses Pemesanan Anda sudah selesai</h1>
        <p class="lead fs-5">
            Terima kasih telah mengirimkan data Anda. Kami akan segera menghubungi Anda untuk langkah selanjutnya.
            Pantau terus notifikasi Anda untuk informasi terbaru.
        </p>
    </div>
    <div class="text-center">
        <button type="button" class="btn gradient-button w-50" data-bs-dismiss="modal">OK</button>
    </div>
</div>