<section class="terms">
    <h1 class="fs-1 text-center gradient-text">Syarat & Ketentuan Program</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ 'storage/app/media/img/snk-image.png' }}" class="img-fluid" alt="Team Shot" />
        </div>
        <div class="col-md-6">
            <ul class="custom-list text-decoration-none fs-4">
                <li>Berlaku untuk karyawan aktif Sinar Mas Group dan
                    Portfolio dan/atau anggota
                    keluarga dalam 1 Kartu
                    Keluarga</li>
                <li>Berlaku untuk keanggotaan Sinar Mas Land Precious dan/atau anggota keluarga dalam 1 Kartu Keluarga
                </li>
                <li>Harga dapat berubah sewaktu-waktu mengikuti ketentuan Wuling</li>
                <li>Jumlah pembelian produk melalui EPP per karyawan tidak dibatasi</li>
                <li>Harga berlaku di dealer yang ditunjuk Harga OTR dapat berbeda di tiap daerah</li>
                <li>Tidak bisa digabungkan dengan program/promo lain</li>
                <li>Hanya berlaku untuk domisili KTP Jakarta, Bogor, Depok, Tangerang, Bekasi</li>
                <!-- Add more list items as needed -->
                </ol>
        </div>
    </div>
</section>